# Virtual environments
env/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code / Visual Studio files
.vscode/
*.code-workspace
*.vs/

# System files
.DS_Store
Thumbs.db

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log
